<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](https://mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko) and Vadim Shestopalov (@vchulski). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

# <center>Assignment #1. Fall 2019
## <center>Exploratory data analysis of Olympic games with Pandas
    
<img src='../../img/olympic_logo.png' width=50%>

Prior to working on the assignment, you'd better check out the corresponding course material:
 - [Exploratory data analysis with Pandas](https://nbviewer.jupyter.org/github/Yorko/mlcourse_open/blob/master/jupyter_english/topic01_pandas_data_analysis/topic1_pandas_data_analysis.ipynb?flush_cache=true), the same as an interactive web-based [Kaggle Kernel](https://www.kaggle.com/kashnitsky/topic-1-exploratory-data-analysis-with-pandas)
 - first lectures in mlcourse.ai [YouTube playlist ](https://www.youtube.com/watch?v=QKTuw4PNOsU&list=PLVlY_7IJCMJeRfZ68eVfEcu-UcN9BbwiX) 
 - you can also practice with demo assignments, which are simpler and already shared with solutions: [A1 demo](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset), [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution)

### Your task is to:
 1. write code and perform computations in the cells below
 2. choose answers in the [webform](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU). Solutions will be shared only with those who've filled in this form 
 3. submit answers with some email and **remember it**! This will be your ID during the course. Specify your real full name in the form as well (no nicks allowed in the final top-100 [rating](https://mlcourse.ai/rating)). If in doubt, you can re-submit the form till the deadline for A1, no problem, but stick to only one email.
 
### <center> Deadline for A1: 2019 September 15, 20:59 GMT (London time)
    
You'll get up to 10 credits for this assignment.

### How to get help
In [ODS Slack](https://opendatascience.slack.com) (if you still don't have access, fill in the [form](https://docs.google.com/forms/d/10HAN5huM996snUKjsNYyT_oOlm2uOsTKulKurb3oiNM/) mentioned on the mlcourse.ai main page), we have a channel **#mlcourse_ai_news** with announcements from the course team.
You can discuss the course content freely in the **#mlcourse_ai** channel (we still have a huge Russian-speaking group, they have a separate channel **#mlcourse_ai_rus**).

Here's how you reply in a thread (press this dialog icon to drill down into a thread):

<img src="../../img/start_a_thread.png" />

Please stick to special threads *a1_q1-5_fall2019* and *a1_q6-10_fall2019* in **#mlcourse_ai_news** for your questions on A1. Help each other without sharing correct code and answers. Our TA **Vadim @vchulski** is there to help (only in the mentioned thread, do not write to him directly).

Lastly, you can save useful messages by pinning them, further you can find pinned items on the top, just below the channel name:

<img src="../../img/pinned_item.png" />

### Assignment 
__There are ten questions about 120 years of Olympic history in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU).__

Download the file `athlete_events.csv` from [here](https://drive.google.com/file/d/1f5v6Z2ayc7h698FG_98wP5x1Y2zZQeox/view?usp=sharing) (scraped by [rgriffin](https://www.randigriffin.com/) from www.sports-reference.com). The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = "athlete_events.csv"

In [3]:
data = pd.read_csv(PATH)
data.shape

(271116, 15)

In [4]:
data.head(5)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [5]:
data_droped = data.drop_duplicates(subset=['ID'])
data_droped.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1992 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 16 and 15
- 14 and 13 
- 13 and 11
- 11 and 12

In [6]:
males = data_droped[(data_droped.Games == '1992 Summer') & (data_droped.Sex == 'M')]
males.Age.agg(['min'])

min    11.0
Name: Age, dtype: float64

In [7]:
females = data_droped[(data_droped.Games == '1992 Summer') & (data_droped.Sex == 'F')]
females.Age.agg(['min'])

min    12.0
Name: Age, dtype: float64

__2. What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0.2
- 1.5 
- 2.5
- 7.7

In [8]:
bascket_males = data[(data.Games == '2012 Summer') & (data.Sex == 'M') & (data.Sport == 'Basketball')]
bascket_males.drop_duplicates(subset=['ID']).shape

(144, 15)

In [9]:
all_males = data[(data.Games == '2012 Summer') & (data.Sex == 'M')]
all_males.drop_duplicates(subset=['ID']).shape

(5863, 15)

In [10]:
all_females = data[(data.Games == '2012 Summer') & (data.Sex == 'F')]
all_females.drop_duplicates(subset=['ID']).shape

(4654, 15)

In [11]:
percentage = 144/5863*100
round(percentage, 1)

2.5

__3. What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 171.8 and 6.5
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [12]:
tennis_females = data[(data.Games == '2000 Summer') & (data.Sex == 'F') & (data.Sport == 'Tennis')]
tennis_females.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
8604,4723,Sabine Appelmans (-Haubourdin),F,28.0,169.0,60.0,Belgium,BEL,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
9980,5455,Shinobu Asagoe,F,24.0,168.0,58.0,Japan,JPN,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
14116,7620,Olga Vladimirovna Barabanshchikova,F,20.0,176.0,60.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
14117,7620,Olga Vladimirovna Barabanshchikova,F,20.0,176.0,60.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
15804,8522,"Nani Rahayu ""Yayuk"" Basuki-Suharyadi",F,29.0,165.0,55.0,Indonesia,INA,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN

In [13]:
mean_tennis_female_height = tennis_females.Height.agg(['mean'])
round(mean_tennis_female_height, 1)

mean    171.8
Name: Height, dtype: float64

In [14]:
std_tennis_female_height = tennis_females.Height.agg(['std'])
round(std_tennis_female_height, 1)

std    6.5
Name: Height, dtype: float64

__4. Find a sportsman who participated in the 2006 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [15]:
data_weight = data[data.Games == '2006 Winter']
data_weight[data_weight.Weight == 127]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
8102,4476,Patrick R. Antaki,M,41.0,185.0,127.0,Lebanon,LIB,2006 Winter,2006,Winter,Torino,Skeleton,Skeleton Men's Skeleton,NaN

__5. How many times did John Aalberg participate in the Olympics held in different years?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0
- 1 
- 2
- 3

In [16]:
len(set(data[data.Name == 'John Aalberg'].Year))

2

__6. How many gold medals in tennis did sportspeople from the Switzerland team win at the 2008 Olympics? Count every medal from every sportsperson.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 0
- 1 
- 2
- 3

In [17]:
tennis_gold = data[(data.Games == '2008 Summer') & (data.Team == 'Switzerland') 
                   & (data.Medal == 'Gold') & (data.Sport == 'Tennis')]
tennis_gold

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
67290,34396,Roger Federer,M,26.0,185.0,80.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold
257672,129042,Stanislas Wawrinka,M,23.0,183.0,79.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold

__7. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes
- No

In [18]:
spain_medals = data[(data.Games == '2016 Summer') & (data.Team == 'Spain')].Medal
len(spain_medals.dropna())

43

In [19]:
italy_medals = data[(data.Games == '2016 Summer') & (data.Team == 'Italy')].Medal
len(italy_medals.dropna())

70

In [20]:
len(spain_medals.dropna()) < len(italy_medals.dropna())

True

__8. What age category did the fewest and the most participants of the 2008 Olympics belong to?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45) and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [21]:
fewest_data = data[(data.Games == '2008 Summer')]

In [22]:
fewest_data['age_groups'] = pd.cut(fewest_data.Age, bins=[15, 24], labels=['[15-25)'])
fewest_data[(fewest_data.age_groups == '[15-25)')].drop_duplicates(subset=['ID']).agg(['count'])

C:\Users\sergo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,age_groups
count,4749,4749,4749,4749,4667,4668,4749,4749,4749,4749,4749,4749,4749,4749,645,4749

In [23]:
fewest_data['age_groups'] = pd.cut(fewest_data.Age, bins=[25, 34], labels=['[25-35)'])
fewest_data[(fewest_data.age_groups == '[25-35)')].drop_duplicates(subset=['ID']).agg(['count'])

C:\Users\sergo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,age_groups
count,4504,4504,4504,4504,4465,4469,4504,4504,4504,4504,4504,4504,4504,4504,726,4504

In [24]:
fewest_data['age_groups'] = pd.cut(fewest_data.Age, bins=[35, 44], labels=['[35-45)'])
fewest_data[(fewest_data.age_groups == '[35-45)')].drop_duplicates(subset=['ID']).agg(['count'])

C:\Users\sergo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,age_groups
count,468,468,468,468,461,461,468,468,468,468,468,468,468,468,59,468

In [25]:
fewest_data['age_groups'] = pd.cut(fewest_data.Age, bins=[45, 55], labels=['[45-55]'])
fewest_data[(fewest_data.age_groups == '[45-55]')].drop_duplicates(subset=['ID']).agg(['count'])

C:\Users\sergo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,age_groups
count,60,60,60,60,60,59,60,60,60,60,60,60,60,60,5,60

__9. Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [26]:
data[(data.City == 'Atlanta')].head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
32,13,Minna Maarit Aalto,F,30.0,159.0,55.5,Finland,FIN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Women's Windsurfer,NaN
92,30,Pepijn Aardewijn,M,26.0,189.0,72.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Rowing,Rowing Men's Lightweight Double Sculls,Silver
97,33,Mika Lauri Aarnikka,M,28.0,187.0,76.0,Finland,FIN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Men's Two Person Dinghy,NaN
100,36,Stefan Remco Aartsen,M,21.0,194.0,78.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 100 metres Butterfly,NaN
101,36,Stefan Remco Aartsen,M,21.0,194.0,78.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 200 metres Butterfly,NaN

In [27]:
data[(data.City == 'Squaw Valley')].head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
83,24,Nils Egil Aaness,M,24.0,NaN,NaN,Norway,NOR,1960 Winter,1960,Winter,Squaw Valley,Speed Skating,Speed Skating Men's 500 metres,NaN
84,24,Nils Egil Aaness,M,24.0,NaN,NaN,Norway,NOR,1960 Winter,1960,Winter,Squaw Valley,Speed Skating,"Speed Skating Men's 1,500 metres",NaN
113,40,Roald Edgar Aas,M,31.0,NaN,NaN,Norway,NOR,1960 Winter,1960,Winter,Squaw Valley,Speed Skating,"Speed Skating Men's 1,500 metres",Gold
114,40,Roald Edgar Aas,M,31.0,NaN,NaN,Norway,NOR,1960 Winter,1960,Winter,Squaw Valley,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
115,40,Roald Edgar Aas,M,31.0,NaN,NaN,Norway,NOR,1960 Winter,1960,Winter,Squaw Valley,Speed Skating,"Speed Skating Men's 10,000 metres",NaN

__10. What is the absolute difference between the number of unique sports at the 1986 Olympics and 2002 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 3 
- 10
- 15
- 27

In [28]:
data.Year.unique()

array([1992, 2012, 1920, 1900, 1988, 1994, 1932, 2002, 1952, 1980, 2000,
       1996, 1912, 1924, 2014, 1948, 1998, 2006, 2008, 2016, 2004, 1960,
       1964, 1984, 1968, 1972, 1936, 1956, 1928, 1976, 2010, 1906, 1904,
       1908, 1896], dtype=int64)

In [29]:
len(data[(data.Games == '1986 Summer')].Sport.unique())

0

In [30]:
len(data[(data.Games == '2002 Winter')].Sport.unique())

15

That's it! Now go and do 30 push-ups! :)